.boxq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .nameq {
    font-weight: bold;
  }

  .authorq {
    color: #888;
  }

  .play-buttonq {
    background-color: #220dc3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .containerq {
    display: flex;
    justify-content: space-between;
    margin: 20px 0; /* Adjust the margin value as needed */
  }