
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
nav.navbar a{
    margin-left: 20px;
}




section{
    color: aliceblue;
    background-color: #020617;
}


nav.btnLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: azure;
    font-weight: 500;
    margin-left: 40px;
}

main{
    color: aliceblue;
    background-color: #050b27;
}


div.container2{
    background-color: #020617;

}

section.slide{
    background-color: #020617;
}





div.containerz h1{
    text-align: center;
}

div.copyright{
    text-align: center;
}

